<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="apple-app-site-association">
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension="." mimeType="application/json" />
        <rewrite>
          <rules>
            <rule name="apple_json_file">
              <match url="^apple-app-site-association" />
              <action type="Rewrite" url="apple-app-site-association.json" />
            </rule>
          </rules>
        </rewrite>
      </staticContent>
    </system.webServer>
  </location>
</configuration>
